html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/static/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="/static/test.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="/static/semantic.min.js")
  body
    .main.ui.container
      .ui.vertical.segment
        h1.ui.header=message
      form.ui.form(action="/matches/new" method="post")
        .field
          label Game type
          select(name="game_id" required)
            option(value="") Choose a game type
            each game in games
              option(value=game.game_id)=game.name
        each i in [0,1,2,3]
          .fields.match_result
            .field
              label Player
              select(name="player_id"+i)
                option(value="") Choose a player
                each player in players
                  option(value=player.player_id)=player.name
            .field
              label Result
              select(name="result"+i)
                option(value="") Choose a match result
                option(value="win") Win
                option(value="loss") Loss
                option(value="draw") Draw
        button.ui.button(type="submit") Submit